.field {
    width: 20px;
    height:  20px;
    background-color: lightgrey;
    float: left;
    position: relative;
}

.field--cleared {
    border: 1px solid rgba(0,0,0,0.1);
}

.field__button {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius:  1px;
    float: left;
}

.field__button:focus {
    outline: none;
}

.field--cleared {
    font-weight: bold;
    font-size:  16px;
    text-align: center;
    text-shadow:
     1px 1px 0 #fff;
}

.field--ismine {
    background: #f60 url("./assets/images/mine.png") no-repeat center / cover;
    border: none;
}

.field--1mines {
    color: blue;
}

.field--2mines {
    color: green;
}
.field--3mines {
    color: red;
}
.field--4mines {
    color: #333;
}
.field--5mines {
    color: brown;
}

.field--6mines {
    color: purple;
}

.field--7mines {
    color: black;
}




