.game__header, 
.game__footer {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
}

.game__header {
    font-size: 150%;
}
.game__header--go {
    color: lightgray;
}
.game__header--playing {
    color: lightblue;
}
.game__header--won {
    color: lightgreen;
}
.game__header--lost {
    color: red;
}
.game__header--lost:after {
    content: " :-("
}

.game__restart {
    font-size: inherit;
    padding: 8px 20px;
    color: #666;
    border-radius: 2px;
    font-size: 120%;
    line-height: 120%;
}
.game__restart--go {
    display: none;
}
.game__main {
    background: lightgrey;
    padding: 15px;  
    border: 5px outset #eee;
    margin: 0 auto;
}
