.game__header, 
.game__footer {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
}

.game__status {
    font-size: 150%;
}
.game--go .game__status{
    color: lightgray;
}
.game--playing .game__status  {
    color: lightblue;
}
.game--won .game__status {
    color: lightgreen;
}
.game--lost .game__status {
    color: red;
}
.game--lost .game__status:after {
    content: " :-(";
}

.game__restart {
    font-size: inherit;
    padding: 8px 20px;
    color: #333;
    border-radius: 2px;
    cursor: pointer;
}

.game--go .game__restart {
    display: none;
}
.game__main {
    background: lightgrey;
    padding: 15px;  
    border: 5px outset #eee;
    margin: 0 auto;
}
